
input, button {
    font-size:14px;
    color:blueviolet;
    margin-bottom: 5px;
    width: 210px;
  }
  .content {
    color:green;
    font-size: 14px;
  }
  .card-image {
    width: 200px;
    height: 200px;
  }